h1{
    width: 94vw;
    margin: 120px 3vw 20px 3vw;
    text-align: center;
    font-size: 4vw;
    color: $color7;
    filter: drop-shadow(1vw 1vw 2vw $color6);
}
.banner{
    margin: 15px 5vw 20px 5vw;
    padding: 20px 0px;
    width: 90vw;
    display: flex;
    justify-content: center;
    .fotoBanner{
        width: calc(90vw / $cantJugadores);
        border-radius: 50%;
        border: 2px solid $color7;
        margin: 0px -.3vw;
        transition: 300ms all ease;
        filter: drop-shadow(6px 6px 10px $color6);
        &:hover{
            transform: rotate(15deg) scale(1.3);
            filter: sepia(0.4);
        }
    }
}